*{
	padding:0;
	margin:0;
}
body{
	background:#4B515D;
	color:#4B515D;
}
#test{
	
	color:white;
	opacity:0.5;
	font-family:arial;
}
.center{
	text-align:center;
}

.container{

	font-family:system-ui;
	width:350px;
	background:#7EC8E3;
	padding:10px;
	display:inline-block;
	box-sizing: border-box;
	text-align:center;
	
}

div .city{
	font-weight:500;
}

div .temp{
	font-size:60px;
	margin-top:20px;
}

div .img{
	width:150px;
	height:150px;
}

.all-items{
	background-color: #fff;
}

.row1{
	width: 20%;
    cursor: pointer;
	display:flex;
}

.item1{
	text-align: center;
	padding:3px;	
}

div .sml-txt, h6 strong{
	font-size:15px;
}

div .symbol-img{
	width: 60px;
    height: 60px;
}
.item1:hover{
	background:#9AB9B9;
}
#select3{
	background:#9AB9B9;
}
