*{
	padding:0;
	margin:0;
}
body{
	background:#4B515D;
	color:#4B515D;
}
#test{
	
	color:white;
	opacity:0.5;
	font-family:arial;
}
.centerc{
	text-align:center;
}

.containerc{

	font-family:system-ui;
	width:350px;
	background:#7EC8E3;
	padding:10px;
	display:inline-block;
	box-sizing: border-box;
	text-align:center;
	
}

div .cityc{
	font-weight:500;
}

div .tempc{
	font-size:60px;
	margin-top:20px;
}

div .imgc{
	width:150px;
	height:150px;
}

.all-itemsc{
	background-color: #fff;
}

.row1c{
	width: 20%;
    cursor: pointer;
	display:flex;
}

.item1c{
	text-align: center;
	padding:3px;	
}

div .sml-txtc, h6 strong{
	font-size:15px;
}

div .symbol-imgc{
	width: 60px;
    height: 60px;
}
.item1c:hover{
	background:#9AB9B9;
}
#select3c{
	background:#9AB9B9;
}

.social a{
	text-decoration: none;
}
