h1{
    margin-top: 50px;
    padding: 10px;
}

.f1, .f2, .f3, .f4{
    margin:10px;
}

div label{
    color: aliceblue;
}
div input{
    background: transparent;
    outline: none;
    width: 100%;
    padding: 15px;
    border: 2px solid #393c48;
    color: aliceblue;
}
div textarea{
    background: transparent;
    outline: none;
    width: 100%;
    padding: 15px;
    border: 2px solid #393c48;
    color: aliceblue;
}

div .submit{
   width: auto;
   background-color: #009ad8;
   border:none;
   border-radius: 5px;
}
.sub-div{
    text-align: center;
    margin-bottom: 100px;
}